SocksiPy-branch==1.01
boto==2.30.0
cffi==0.8.6
crcmod==1.7
cryptography==0.5.4
gcs-oauth2-boto-plugin==1.8
gdata==2.0.18
google-api-python-client==1.2
gspread==0.2.2
httplib2==0.9
numpy==1.9.0
pandas==0.14.1
pyOpenSSL==0.14
pycparser==2.10
python-dateutil==2.2
python-gflags==2.0
pytz==2014.7
requests==2.4.1
retry-decorator==1.0.0
six==1.7.3
tzlocal==1.1.1
wsgiref==0.1.2
